#sponsors {
    padding: 110px 0 130px;
    background-color: #fdd04a;
}

.sponsors__container {
    flex-direction: column;
}

.sponsor__title {
    max-width: 596px;
    text-align: center;
}

.sponsor__title .title {
    color: #222730;
    font-size: 48px;
}

.sponsors__logos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
